
{% extends 'base.html' %}

{% block content %}


<section class="vh-100 ">
  <div class="container-fluid h-custom pt-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100 py-5">
      <div class="col-md-9 col-lg-6 col-xl-5 pb-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-3">
        <form method="post">
          

          <!-- Email input -->
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
          </div>

          <!-- Password input -->
           <div class="fieldWrapper">
              {{ form.password.errors }}
              <label for="{{ form.password.id_for_label }}">Password:&nbsp </label>
              {{ form.password }}
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Want to Collaborate? <a href="mailto: salmankaderrakin@gmail.com"
                class="link-danger">Contact Us !!</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
  <div
    class=" flex-column flex-md-row text-center text-md-start justify-content-between py-3 px-3 px-xl-4 bg-primary ">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0 justify-content-center align-middle">
        <a target="_blank" href="https://www.buet.ac.bd">
          <img 
          src="https://1.bp.blogspot.com/-4eWIzaE9IxE/XZoIa8EvYHI/AAAAAAAAEAo/AqjNe2V86SghxzFgLHd-EvKCxADqG9CUQCLcBGAsYHQ/s400/1200px-BUET_LOGO.svg.png" class="rounded float-left img-fluid" style="width: 3.5%; height: ; margin-top:-0.8%" >
        </a>
      <span class="align-middle">
        Copyright © 2023. All rights reserved to BUET AND University of Arizona.
     </span>

      <a target="_blank" href="https://www.arizona.edu/">
          <img 
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyvMBq31GvtKU3Qbg-9jwDVxrCtX53nrP6WNKVljJg&s" class="rounded float-right img-fluid" style="width: 4%;height: 10%; margin-top:-0.5%" >
        </a>
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>



{% endblock %} 
