{% block content %}



    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-primary bg-dark ">
            <a class="navbar-brand" href="#">QA Instituional Data</a>

        <div>
            <a class="navbar-brand text-light" style="width: 18em; text-align:right" href="#">Multi hop QA Interface</a>
        </div>

            <button class="navbar-toggler  custom-toggler" type="button" data-toggle="collapse" data-target="#my_navbar"
                    aria-controls="my_navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
            </button>

            <div class="navbar-collapse collapse justify-content-end  " id="my_navbar">

                <ul class="navbar-nav mt-2 mt-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" href="/create">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://huggingface.co/datasets/hotpot_qa/viewer">Dataset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank"
                           href="https://huggingface.co/course/chapter1/1">Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://kmap.arizona.edu/team">About Us</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="mailto: salmankaderrakin@gmail.com">Contact</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <!--  {% if user.is_authenticated %}
        <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Contribution: {{contribution}}</button>
        {%endif%} -->
            </div>
        </nav>

        {% if user.is_authenticated %}
            <div class="d-flex justify-content-end ">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Contribution: {{ contribution }}</button>
            </div>

            <div class="navbar-brand float-right">
                <a class="btn btn-primary" href="/create">Next</a>
            </div>
        {% endif %}

    </div>

{% endblock %}
