{% extends 'base.html' %}

{% block content %}

<h1> Question details of ID:- {{id}}  </h1>


<table border="2" class="table table-hover "> 
	<tr> 
		<th>ID</th>
		<th>Question</th>
		<th>Answers</th>
		<th>Paragraph A</th>
		<th>Paragraph B</th>
		<th>User</th>
		<th>Time</th>
		
	</tr>

	
		<tr>
			<td>{{element.id}}</a></td>
			<td>{{element.question}}</td>
			<td>{{element.answer}}</td>
			<td>{{element.par_A}}</td>
			<td>{{element.par_B}}</td>
			<td>rakin061</td>
			<td>Current Time</td>
	
		</tr>


</table>

{% endblock %} 