{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <form action="../create/" method='POST'> {% csrf_token %}

            <div class="container pt-1">

                <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>

                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-left">
                        <button class="btn btn-outline-success my-2 my-sm-0 source" type="submit"  ><b>Author
                            Tittle:- {{ author_id }}</b></button>
                    </div>
                {% endif %}

                <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
                <div class="container-fluid justify-content-center" style="border:1px solid darkgrey;">


                    <div class="form-group">

                        <div >
                            {{ form.source_id }}
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
                        <div class="title">
                            {{ form.title_A }}
                        </div>

                        <div >
                            {{ form.par_A }}
                        </div>
                        <div class="container-fluid paragraph">
                            {{ par_A|safe}}
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>

                        <div class="title">
                            {{ form.title_B }}
                        </div>

                        <div>
                            {{ form.par_B }}
                        </div>
                         <div class="container-fluid paragraph">
                            {{ par_B|safe }}
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
                        <div class="question">
                            <label for="{{ form.question.id_for_label }}">Question:</label>
                            {{ form.question }} {{ form.question.help_text|safe }}
                        </div>

                        <div class="answer">
                            <label for="{{ form.answer.id_for_label }}">Answer:&nbsp;&nbsp;</label>
                            {{ form.answer }} {{ form.answer.help_text|safe }}
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>

                        <div>
                            <label for="{{ form.question_type.id_for_label }}">Type:</label>
                            {{ form.question_type }} {{ form.question_type.help_text|safe }}
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
                        <div>
                            <label for="{{ form.level.id_for_label }}">Difficulty Level:</label>
                            {{ form.level }} {{ form.level.help_text|safe }}
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>

                        <div>
                            <label for="{{ form.supporting_facts.id_for_label }}">Supporting facts:</label>
                            {{ form.supporting_facts }} {{ form.supporting_facts.help_text|safe }}

                        </div>


                        <!-- <div class="container">
                          <nav class="navbar navbar-expand-lg nabar-light d-flex justify-content-center" style="background-color: #e3f2fd;">
                            <div class="navbar-brand " > QA Interface</div>
                          </nav>
                        </div> -->


                        <!-- <div class="navbar-brand float-right" >
		 	<a class="btn btn-info shodow-none">Contributions: {{ contribution}}</a>
		 </div> -->
                        {#			{{ form.as_p }}#}
                        <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
                        <input type="submit" value="Save" class="btn btn-primary">

                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

{% endblock %}